/* VARIABLE */
@font-face {
  font-family: title-font;
  src: url("../fonts/DM_Serif_Text/DMSerifText-Regular.ttf");
}
@font-face {
  font-family: sentence-font;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
body {
  font-family: "Roboto", sentence-font, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: "DM Serif Text", title-font, serif;
}

/* NAVBAR */
.navbar {
  padding-top: 100px;
  padding-bottom: 30px;
  z-index: 1;
}

.nav-link {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 17px;
  font-weight: bolder;
  color: #fff;
  min-width: 88px;
  padding: 0 16px;
  border-radius: 2px;
  text-align: center;
}

.nav-link:hover {
  background: #6c757d;
  color: #f4f4f4;
  cursor: pointer;
  border: none;
}

.hero {
  height: 100vh;
  background-image: url(../images/hero-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* HEADING */
.hero-heading {
  color: #fff;
  margin: 50px auto;
  text-align: center;
}

.bar-img {
  background-image: url(../images/hero-background.jpg);
  background-size: cover;
  background-position: top;
}

.bg-black {
  background-color: black;
}

.subheading {
  text-align: center;
}

p {
  font-size: 18px;
  color: #666666;
}

/* GALLERY */
.images {
  margin: 0 0 20px;
  border: none;
  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
}

.images img{
  opacity: 0.75;
}

.details {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0;
  background: black;
  opacity: 0;
  transition: all 0.5s;
}

.images img:hover {
  cursor: pointer;
  transform: scale(1.25);
  opacity: 1;
}

.details:hover {
  opacity: 0.75;
  color: white;
  cursor: pointer;

/* TESTI AVATAR */
.avatar {
  height: 250;
}

/* SOCIAL */
.social-media {
  text-align: center;
  font-size: 35px;
  text-decoration: none;
}

.social-media a {
  margin: 20px;
  padding: 5px 10px;
  color: #f4f4f4;
  text-decoration: none;
  border-radius: 2px;
}

.social-media a:hover {
  background: #6c757d;
  color: #f4f4f4;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

@media (min-width: 576px) {
  h1 {
    color: red;
  }
}
@media (min-width: 768px) {
  h1 {
    color: orange;
  }
}
@media (min-width: 992px) {
  h1 {
    color: green;
  }
}
@media (min-width: 1200px) {
  h1 {
    color: blue;
  }

  /* HEADING */
}

/*# sourceMappingURL=style.css.map */
