/* VARIABLE */
@font-face {
  font-family: title-font;
  src: url("../fonts/DM_Serif_Text/DMSerifText-Regular.ttf");
}
@font-face {
  font-family: sentence-font;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
body {
  font-family: "Roboto", sentence-font, sans-serif;
}

* {
  margin: 0;
  padding: 0;
/*  box-sizing: border-box;*/
}

h1, h2, h3 {
  font-family: "DM Serif Text", title-font, serif;
}


/* NAVBAR */
.navbar {
  padding-top: 100px;
  padding-bottom: 30px;
  z-index: 1;
}

.nav-link {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 17px;
  font-weight: bolder;
  color: #fff;
  min-width: 88px;
  padding: 0 16px;
  border-radius: 2px;
  text-align: center;
}

.nav-link:hover {
  background: #6c757d;
  color: white;
  cursor: pointer;
  border: none;
}

.navbar .active a, .nav a:focus {
  color: white !important;
  background-color: transparent !important;
}

/* Navbar - Movement */
.navbar-nav a::before, .navbar-nav a::after {
  display: inline-block;
  opacity: 0;
  transition: transform 1s, opacity 0.2s;
}
.navbar-nav a::before {
  margin-right: 10px;
  content: '[';
  transform: translateX(20px);
}
.navbar-nav a::after {
  margin-left: 10px;
  content: ']';
  transform: translateX(-20px);
}
.navbar-nav a:hover, .navbar-nav a:hover::before, .navbar-nav a:hover::after, .navbar-nav a:focus::before, .navbar-nav a:focus::after {
  color: white !important;
  background-color: transparent !important; 
  opacity: 1;
  transform: translateX(0px);
}


/* CAROUSEL */
.hero {
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 100vh;
     width: 100%;
     animation: slide 40s infinite;
 }


 @keyframes slide {
     0% {
        background-image: url(../images/hero-background.jpg);
     }
     20% {
        background-image: url(../images/hero1.jpg); 
     }
     40% {
        background-image: url(../images/hero2.jpg);
     }
     60% {
         background-image: url(../images/hero3.jpg); 
     }
     80% {
         background-image: url(../images/hero4.jpg);
     }
     100% {
         background-image: url(../images/hero5.jpg);
     }
 }


/* HEADING */
.hero-heading {
  color: #fff;
  margin: 100px auto;
  text-align: center;
}

.subheading {
  text-align: center;
}

p {
  font-size: 18px;
  color: #666666;
}

.bar-img {
  background-image: url(../images/hero-background.jpg);
  background-size: cover;
  background-position: top;
}

header.black{
      background: #000;
      opacity: 0.75;
}

/* GALLERY */
.card-gallery {
  margin: 0 0 20px;
  border: none;
  position: relative;
  overflow: hidden;

}

.card-gallery img{
  opacity: 0.75;
  transition: 0.5s ease;
}

.card-details {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: 0;
  background: black;
  transition: 0.5s ease;
}

.card-gallery:hover img {
  opacity: 1;
}

.card-gallery:hover .card-details {
  opacity: .65;
  color: white;
}


/* TESTI AVATAR */
.avatar {
  height: 250;
}

/* FOOTER */
.bg-black {
  background-color: black;
}

/* SOCIAL */
.social-media {
  text-align: center;
  font-size: 25px;
  text-decoration: none;
}

.social-media a {
  margin: 15px;
  padding: 5px;
  color: white;
  text-decoration: none;
  border-radius: 2px;
}

.social-media a:hover {
  background: #6c757d;
  color: white;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.copyright {
  color: gray;
  font-weight: bolder;
}

/*# sourceMappingURL=style.css.map */
